{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>gamereviews</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'articles/css/base.css' %}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark text-white justify-content-between">
        <span class="navbar-brand mb-0 h1"><i class="fas fa-gamepad"></i> gamesreview</span>
        <span class="navbar-text text-right">
            Witaj, {{ user.get_username }}<br>
            <a href="#" class="badge badge-primary">Powiadomienia</a>
            <a href="#" class="badge badge-secondary">Wyloguj</a>
        </span>
    </nav>
    <hr class="my-1">
    <div class="row">
        <div class="col-md-12">
            <nav class="nav justify-content-between">
                <a class="" href="#">Na żywo</a>
                <a class="text-muted" href="#">Recenzje</a>
                <a class="text-muted" href="#">Konsole</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% for article in articles %}
                <div class="card" style="width: 90%;">
                    <img class="card-img-top" src="{{ article.image }}">
                    <div class="card-body">
                        <h6 class="h6 text-muted">{{ article.tag }}</h6>
                        <h5 class="h5 text-uppercase">{{ article.title }}</h5>
                        <p class="card-text text-truncate">{{ article.text }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>