{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>gamesreview.pl ||{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'articles/css/base.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark text-white justify-content-between">
        <span class="navbar-brand mb-0 h1"><i class="fas fa-gamepad"></i> gamesreview</span>
        <span class="navbar-text text-right">
            {% if user.is_authenticated %}
                Witaj, {{ user.get_username }}<br>
                <a href="#" class="badge badge-primary">Powiadomienia</a>
                <a href="#" class="badge badge-secondary">Wyloguj</a>
            {% else %}
                Witaj nieznajomy <br>
            <a href="/admin" class="badge badge-primary">Zaloguj sie</a>
            {% endif %}
        </span>
    </nav>
    <hr class="my-1">
    <div class="row">
        <div class="col-md-12">
            <nav class="nav justify-content-between">
                <a class="" href="#">Konsole</a>
                <a class="text-muted" href="#">PC</a>
                <a class="text-muted" href="#">Na żywo</a>
                <a class="text-muted" href="#">Perfect day</a>
            </nav>
        </div>
    </div>
    {% block container %}
    <div class="row">
        <div class="col-md-8">
            {% for article in articles %}
                <div class="card">
                    <img class="card-img" src="{{ article.image.url }}" alt="">
                    <div class="card-body">
                        <a href="{% url 'article' article.slug %}" class="card-link h5 text-uppercase">{{ article.title }}</a>
                        <span class="badge badge-secondary">{{ article.tag }}</span>
                        <p class="card-text text-truncate">{{ article.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div id="datepicker"></div>
            <br>
            <a class="twitter-timeline" data-width="277" data-dnt="true" href="https://twitter.com/gamesreview9?ref_src=twsrc%5Etfw">Tweets by gamesreview9</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $( function() {
        $( "#datepicker").datepicker();
    });
</script>

</body>
</html>